# auto gen from quasar framework
.quasar
.DS_Store
.thumbs.db
node_modules
dist

# local config info not to be stored in github
/app/config/system.yml
/app/config/system.js
/app/client/database.cred.js

# auto gen from quasar framework
/app/src-cordova/node_modules
/app/src-cordova/platforms
/app/src-cordova/plugins
/app/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Cloud functions related ignore
.firebaserc
# log file created by tools/fbm/fbm.py
/app/firebase-debug.log 

# make related ignore
setup.o
init.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
