# Please make sure to replace all the commas
databaseConfig:
  production:
    apiKey: ------------------------------------
    authDomain: ------------------------------------
    databaseURL: ------------------------------------
    projectId: ------------------------------------
    storageBucket: ------------------------------------
    messagingSenderId: ------------------------------------
    appId: ------------------------------------

  testing:
    apiKey: ------------------------------------
    authDomain: ------------------------------------
    databaseURL: ------------------------------------
    projectId: ------------------------------------
    storageBucket: ------------------------------------
    messagingSenderId: ------------------------------------
    appId: ------------------------------------

  dev:
