// app global css
// .bg is for color keyword
// .text is for text-color keyword
// keyword-{var}
.text-link
  color #0000ff

.bg-link
  background #0000ff

.text-myBrand
  color #a8875a

.bg-myBrand
  background #a8875a

.text-phyo
  color #2f90d6

.bg-phyo
  background #2f90d6
